<html>
	<head>
		<title>triangle corners</title>
		<link rel="stylesheet" type="text/css" href="style.css">
	</head>
	<body>
		<section>
			<div class="triangle-corner corner-top-left">
				<span onclick="clickTheCorner('A')">A</span>
			</div>
			<div class="triangle-corner corner-top-right">
				<span onclick="clickTheCorner('B')">B</span>
			</div>
			<div class="triangle-corner corner-bottom-right">
				<span onclick="clickTheCorner('C')">C</span>
			</div>
			<div class="triangle-corner corner-bottom-left">
				<span onclick="clickTheCorner('D')">D</span>
			</div>
		</section>
		<script type="text/javascript" src="script.js"></script>
	</body>
</html>
