* {
	padding: 0;
	margin: 0;
}

header {
	width: 100%;
	height: 50px;
	line-height: 50px;
	background-color: #F8F8F8;
	font-size: 18px;
	position: fixed;
	top: 0;
	z-index: 100;
}

.header-title {
	font-size: 20px;
}

.header-title, .nav {
	float: left;
}

.nav li {
	list-style: none;
	float: left;
}

.nav li:hover, .nav li.selected {
	background-color: #E7E7E7;
}

.nav a {
	padding: 0 15px;
	display: block;
	cursor: pointer;
}

.sections {
	margin-top: 50px;
}

.section {
	width: 100%;
	height: 700px;
	padding: 10px;
}

#first-section {
	background-color: #EEEEEE;
}

#second-section {
	background-color: white;
}

#third-section {
	background-color: #EEEEEE;
}

#fourth-section {
	background-color: white;
}
